#sectionBorder {
    padding: rem(40) rem(40);
    min-height: 0;
    .inner {
        .contents {
            .tit {
                font-size: rem(38);
                font-weight: bold;
                margin-bottom: rem(50);
            }
            .btn-wrap {
                display:flex;
                justify-content: flex-end;
            }
            table {
                margin-bottom : rem(40);
                display : flex;
                justify-content: center;
                tbody {
                    width: 100%;
                    tr {
                        display: inline-flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        &.list {
                            cursor: pointer;
                            &:hover {
                                background-color: orange;
                            }
                        }
                        th {
                            &:nth-of-type(1) {
                                font-size: rem(16);
                                font-weight: bold;
                                width: 10%;
                                border-right : 2px solid #707070;
                            }
                            &:nth-of-type(2) {
                                font-size: rem(16);
                                font-weight: bold;
                                width: 50%;
                                border-right : 2px solid #707070;
                            }
                            &:nth-of-type(3) {
                                font-size: rem(16);
                                font-weight: bold;
                                width: 20%;
                                border-right : 2px solid #707070;
                            }
                            &:nth-of-type(4) {
                                font-size: rem(16);
                                font-weight: bold;
                                width: 20%;
                            }
                        }
                        td {
                            &:nth-of-type(1) {
                                width: 10%;
                                border-right : 1px solid #707070;

                            }
                            &:nth-of-type(2) {
                                width: 50%;
                                text-align: left;
                                border-right : 1px solid #707070;

                            }
                            &:nth-of-type(3) {
                                width: 20%;
                                border-right : 1px solid #707070;
                            }
                            &:nth-of-type(4) {
                                width: 20%;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
        }
    }
}