<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no">
    <title>DOF - Doo One Friends</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/swiper.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>

<body>

    <!-- wrap [s] -->
    <div id="wrap">

        <!-- header [s] -->
        <header id="header" class="main-header">
            <div class="inner header-inner">
                <h1 class="logo"><a href="http://localhost:5000"></a></h1>
                <ul class="menu-list">
                    <li class="menu-btn"><a href="http://localhost:5000">HOME</a></li>
                    <li class="menu-btn"><a href="{{url_for('intro')}}">INTRO</a></li>
                    <li class="menu-btn"><a href="{{url_for('member')}}">MEMBER</a></li>
                    <li class="menu-btn"><a href="{{url_for('boarder_list')}}">BORDER</a></li>
                </ul>
                <button type="button" class="btn btn-gnb"><i class="ic ic-gnb-open"></i></button>
            </div>
            <nav id="gnb">
                <button type="button" class="btn btn-gnb-close"><i class="ic ic-gnb-close"></i></button>
                <ul class="gnb-list">
                    <li><a href="http://localhost:5000" class="txt">HOME</a></li>
                    <li><a href="{{url_for('intro')}}" class="txt">INTRO</a></li>
                    <li><a href="{{url_for('member')}}" class="txt">MEMBER</a></li>
                    <li><a href="{{url_for('boarder_list')}}" class="txt">BORDER</a></li>
                </ul>
            </nav>
        </header>
        <!-- header [e] -->

        <main id="container" class="main-cont">
            <!-- sectionMain [s] -->
            <section class="main-section" id="sectionBoarder-write">
                <div class="inner">
                    <div class="contents">
                        <h2 class="tit">글 작 성</h2>
                        <span class="ymd"></span>
                        <form action="/boarder-write" name="form" method="POST" onSubmit="return Checkform()">
                            <div class="board-write-wrap">
                                <dl>
                                    <dt>제목</dt>
                                    <dd><input class="input-tit" type="text" name="title" placeholder="제목 입력"></dd>
                                </dl>
                                <dl>
                                    <dt>작성자명</dt>
                                    <dd><input class="input-name" type="text" name="name" placeholder="작성자명 이름 입력"></dd>
                                </dl>
                                <dl>
                                    <dt>내용</dt>
                                    <dd><textarea class="input-cont" name="contents" placeholder="내용 입력"></textarea>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>비밀번호</dt>
                                    <div class="pw-check">?</div>
                                    <dd><input class="input-password" type="text" name="password" maxlength="4"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                            placeholder="숫자 4자리 입력"></dd>
                                </dl>
                            </div>
                            <div class="btn-wrap">
                                <input class="btn regis" value="등록" type="submit"></input>
                                <a onclick="cancle()" class="btn cancle">취소</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- sectionMain [e] -->
        </main>

        <!-- footer[s] -->
        <footer id="footer" class="main-footer">
            <div class="inner">
                <p class="copy-logo">
                    <a href="http://localhost:5000"><i class="ic ic-logo"></i></a>
                </p>
                <p class="copy-txt">
                    <span class="txt">COPYRIGHT © DOF(Doo One Friends).ALL RIGHTS RESERVED.</span>
                    <a href="{{url_for('service')}}" class="txt-link">이용약관</a>
                </p>
            </div>
        </footer>
        <!-- //footer[e] -->

    </div>
    <!-- wrap [e] -->

    <!-- script [s]-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-3.6.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/swiper.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/common.js')}}"></script>
    <!-- script [e]-->

</body>

</html>